{% extends 'base.html.twig' %}

{% block body %}

<h3>You are on the Welcome page of this website</h3>

<b>This is a welcome article</b>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores blanditiis consectetur ducimus ea fuga fugiat harum inventore minus necessitatibus nesciunt, nisi nostrum officiis placeat quos soluta unde veritatis vero.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam at deleniti doloremque eius eos, explicabo ipsam iste iure laboriosam laudantium nemo, nesciunt quis quo repellat saepe unde, ut voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut autem, delectus laboriosam modi non omnis pariatur repellendus. Corporis doloribus eius, error illo illum reprehenderit saepe tempora vitae voluptas voluptates.
</p>

{% endblock %}